
body {
  margin: 0;
}

#wrapper {
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: 10% 30% 40%;
  grid-template-areas:
    "hd"
    "rk"
    "pr";

    /*
    nv = nav
    hd = header
    rk = reklam
    pr = produkt
    mg = marigin
    */

  height: 100vh;
  width: 100vw;
}

header{
  display: grid;

  grid-template-columns: 25% 50% 25%;
  grid-template-areas: 
  "lg" "sr" "kn";

  /*
  lg = logo
  sr = searchbar
  kn = kontakta oss
  */
}

img {
  height: 97.5%;
  border-radius: 1.25%;
}