body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

#wrapper {
  display: grid;

  grid-template-rows: 20% 30% 50%;
  grid-template-areas:
    "hd"
    "rk"
    "pr";

    /*
    nv = nav
    hd = header
    rk = reklam
    pr = produkt
    mg = marigin
    */

  height: 100vh;
  width: 100vw;
}

header{
  grid-area: hd;

  display: flex;

  justify-content: space-around;
  align-content: space-around;

  /*
  lg = logo
  sr = searchbar
  kn = kontakta oss
  */

}

img, .header{
  width: 90%;
  height: 90%;
}

#reklam{
  grid-area: rk;
  width: 100%;
  height: 100%;
}

img, #reklam{
  height: 100%;
  width: 100%;
}

#produkt{
  grid-area: pr;

  display: flex;
  justify-content: space-around;
}

img, #produkt{
  height: 100%;
  width: 100%;
}

