body {
  margin: 0;
}

#wrapper1 {
  display: grid;

  grid-template-rows: 20% 35% 50%;
  grid-template-areas:
    "hd"
    "rk"
    "pr";

    /*
    nv = nav
    hd = header
    rk = reklam
    pr = produkt
    mg = marigin
    */

  width: 100%;
}

header{
  grid-area: hd;

  display: flex;
  justify-content: space-around;
  align-items: center;

  /*
  lg = logo
  sr = searchbar
  kn = kontakta oss
  */

}

.header{
  width: 90%;
  height: 90%;
}

#logo{
  flex:1;
}

#search_bar{
  flex:6;
}

#contact{
  flex:1;
}

#search_bar a img {
  width: 100%;
}

#reklam{
  grid-area: rk;
  width: 100%;
  height: 100%;
}


#reklam img{
  width: 100%;
  height: 100%; /*vill kunna ta bort*/
}


#produkt{
  grid-area: pr;

  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 10px;
}

#produkt img{
  height: 90%;
}

/*-___-___-___-___-___-___-___-___-___-___-*/

#wrapper2 {
  display: grid;

  grid-template-rows: 20% 80%;
  grid-template-areas:
    "hd"
    "pr";

    /*
    nv = nav
    hd = header
    rk = reklam
    pr = produkt
    mg = marigin
    */

  height: 100vh;
}

.produkt2{
  grid-area: pr;

  display: flex;
  
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /*align-content: space-around;*/
  align-items: center;
  column-gap: 10px;
}


.img_search{
  width: 15%;
}

/*-___-___-___-___-___-___-___-___-___-___-*/

#wrapper3 {
  display: grid;

  grid-template-rows: 20% 80%;
  grid-template-areas:
    "hd"
    "ar";

    /*
    nv = nav
    hd = header
    rk = reklam
    pr = produkt
    mg = marigin
    ar = arbetare
    */

  height: 100vh;
}

#arbetare{
  grid-area: ar;

  display: grid;

  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "a1 a2 a3 a4"
    "a5 a6 a7 a8";
}



/*-___-___-___-___-___-___-___-___-___-___-*/

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  margin: 5%;

  font-family: Arial, Helvetica, sans-serif;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

/*-___-___-___-___-___-___-___-___-___-___-*/
/*products*/

.titel {
  text-decoration: underline;
  text-size-adjust: 200%;
  font-weight: 700;
}

.produkt {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 16.66%;
  max-height: 100%;
  margin: 10px;
}

.produkt img {
  max-width: 100%;
  max-height: 100%;
}

.produkt p {
  margin: 0%;
}

.produkt .button {
  background-color: #9b59b6;
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 10px;
  font-weight: 400;

  width: 90%;

  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

.produkt .button img {
  max-width: 10%;
  max-height: 10%;
}
/*-___-___-___-___-___-___-___-___-___-___-*/